---
layout: default
---

<!-- <div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold mb-3">Research Interests</h3>
    <p>多物理场流固耦合数值方法与应用：等溫流固耦合、热流固耦合、可压缩流固耦合、生物与仿生流动</p>
  </div>
</div> -->

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold mb-3">Research directions</h3>
    <div class="grid-container border-bottom mt-3">
      <!-- 第一张图 -->
      <div class="grid-item">
        <img class="rect_image" src="/assets/img/Flag1.gif">
      </div>
      <!-- 第二张图 -->
      <div class="grid-item">
        <img class="rect_image" src="/assets/img/Flag2.gif">
      </div>
      <!-- 第三张图 -->
      <div class="grid-item">
        <img class="rect_image" src="/assets/img/fish.gif" style="width: 150%;">
      </div>
      <!-- 文字说明 -->
      <div class="grid-item wide">
        <h6 class="fw-bold">Isothermal Fluid-Structure Interaction</h6>
        <p>
          We develop an efficient isothermal fluid-structure interaction numerical method: immersed boundary-reconstructed lattice Boltzmann flux solver (IB-RTLBFS), which can simulate FSI problems with complex gepmetries, moving boundaries and large deformations.
        </p>
      </div>
    </div>
<!--     <div class="grid-container border-bottom mt-3">
      <div class="grid-item"><img class="rect_image" src="/assets/img/Circle_G_F.png"></div>
      <div class="grid-item wide">
        <h6 class="fw-bold">Discontinuous Galerkin method</h6>
        <p>
        We develop optimal solution strategies for the high-order discontinuous Galerkin methods adopted in the GSIS to make the simulation tool robust and economical for practical engineering-design simulations.
        </p>
      </div>
    </div> -->
<!--     <div class="grid-container border-bottom mt-3">
      <div class="grid-item"><img class="rect_image" src="/assets/img/Beam_F.png"></div>
      <div class="grid-item wide">
        <h6 class="fw-bold">Physics of transport phenomena</h6>
        <p>
        We utilise the developed methods and models to enable <span class="fst-italic">a priori</span> solutions for the rarefied gas dynamics and non-Fourier solid heat conduction in emerging multiscale technologies such as lab-on-chip devices, carbon neutrality, next-generation vaccines, micro air vehicles, and high-altitude flights.
        </p>
      </div>
    </div> -->
<!--     <div class="grid-container border-bottom mt-3">
      <div class="grid-item"><img class="rect_image" src="/assets/img/Capsule.png"></div>
      <div class="grid-item wide">
        <h6 class="fw-bold">Thermo-chemical relaxation</h6>
        <p>
        We develop sophisticated numerical methods to understand the nonequilibrium thermo-chemical relaxation that dictates the flow dynamics around re-entry capsules, allowing optimal designs of aerodynamic shape and heat shield.
        </p>
      </div>
    </div> -->

    <!--<p class="mt-2 fst-italic"><a class="four" href="/research">read full research topics</a></p>-->
  </div>
</div>


{% include publications.html %}

<!-- {% include news.html %} -->
