---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold mb-3">Honors & Awards</h3>

    <div class="row border-bottom mt-3 align-items-start">
      <div class="col-md-8">
        <img src="/assets/img/jiang1.png" style="width:100%; height:auto;" class="img-fluid">
      </div>
      <div class="col-md-4">
        <p><strong>Extraordinary Potential Prize of 2022 Chinese Government Award for Outstanding Self-financed Students Abroad</strong> <strong><span style="color:red;">(awarded annually to 20 recipients worldwide; only recipient from Singapore)</span></strong>.</p>
        <p>In recognition of his achievements, Prof. Wu was invited to give a plenary address at the embassy of the people's republic of china in the republic of singapore.</p>
      </div>
    </div>

    <div class="row border-bottom mt-3 align-items-start">
      <div class="col-md-4">
        <ul>
          <li>NUS Research Scholarship (4 years)</li>
          <li>Merit Student of Heilongjiang Province</li>
          <li>National Scholarship of China</li>
          <li>Outstanding Graduates of Hunan Province</li>
          <li>National Encouragement Scholarship of China</li>
        </ul>
      </div>
    </div>

  </div>
</div>
