---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold mb-3">Open Positions</h3>
    <p class="mb-3">We are offering two fully funded PhD positions in our group. The available scholarships include the UM Macao PhD Scholarship (MOP 20,000/month) and a PhD Assistantship (up to MOP 12,500/month). Candidates with strong backgrounds in one or more of the following areas: incompressible/compressible fluid dynamics, heat transfer, fluid-structure interaction, and computational fluid dynamics (CFD) are highly encouraged to apply. Please feel free to contact me for further information or to express your interest.</p>
    <p class="mb-3">We are offering one fully funded Postdoctoral Fellow position in our group. The fellowship is the UM Postdoctoral Fellowship, with an annual stipend of MOP 336,000. Candidates with strong expertise in one or more of the following areas: incompressible/compressible fluid dynamics, heat transfer, fluid-structure interaction, and computational fluid dynamics (CFD) are highly encouraged to apply. Please feel free to contact me if you are interested.</p>
    <!-- <p class="mb-3">The PhD program is within the Individualised Interdisciplinary Program (IIP), designed for students with well-articulated research goals that cannot be achieved through established research postgraduate programs. It aims to create an organic study curriculum pattern to facilitate students' intellectual growth, an exploration into novel research directions, and a long-term commitment to an interdisciplinary research field. Learn more about the <a class="four" href="https://prog-crs.hkust.edu.hk/pgprog/2022-23/mphil-phd-iip">program</a>.</p> -->
    <!-- <p class="mb-3">HKUST ranked 34 in QS World University Rankings 2022. The PhD program duration is three years for applicants with a relevant research master's degree and four years for those without a research master's degree. Applicants should score well in their major courses and meet the English Proficiency Requirements.</p> -->
    <!-- <p class="mb-3">Applicants with a strong resume can also consider the <a class="four" href="https://cerg1.ugc.edu.hk/hkpfs/index.html">HK PhD Fellowship Scheme</a>.</p> -->
  </div>
</div>
